<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body class="landing">
  <div class="form"> <h3>Sign Up or Log In</h3>
    <form action="/home" method="post" id="usrform">
      <table id="signupLogin">
        <tbody>
          <tr>
          <td class="label">Username:</td><td><input class="input" type="text" name="username" placeholder="Username"></td>
          </tr>
          <tr>
          <td class="label">Password:</td><td><input class="input" type="password" name="password" placeholder="Password"></td>
          </tr>
          <tr>
          <td class="label">First Name:</td><td><input class="input" type="name" name="name" placeholder="First Name"></td>
          <tr>
          <tr>
          <td class="label">Last Name:</td><td><input class="input" type="name" name="name" placeholder="Last Name"></td>
          <tr>
          <tr>
          <td class="label">D.O.B:</td><td><input class="input" type="date" name="name" placeholder="Date of Birth"></td>
        </table>
        <table class="spacer">
          <tr>
          <td><input class="submit" type="submit" value=" Login "></td>
          </tr>
        </table>
      </tbody>
    </form>
  </div>
</body>
</html>