<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="card-footer" class="card-body">
          Log In Here:
            <form action="/" method="post" id="usrform">
              <table id="emailTable">
                <tbody>
                <tr>
                <td>Name:</td><td><input type="text" name="name" placeholder="Enter your name"></td>
              </tr>
              <tr>
                <td>Email:</td><td><input type="email" name="email" placeholder="Enter your email"></td>
              </tr>
              <tr>
                <td></td><td><input type="submit" value="submit"></td>
              </tr>
              </table>
              </tbody>
            </form>
          </div>
</body>
</html>