body {
    background-color: rgb(46, 31, 31);
}
.landing {
    background-image: url(/img/31316774424_985c0d7fbb_k.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}
.people_landing {
    background-image: url(/img/mother_child.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    background-color: bisque;
}   
h1 {
    margin: 150px 0 30px 0;
    padding: 0 25px;
    color: #FFF;
}
.userslistpage {
    line-height: 15px;
    color: white;
}
.postsTitle {
    line-height: 15px;
    color: white;
}
.postsText {
    line-height: 15px;
    color: white;
}
.my-nav.navbar.navbar-expand-lg.navbar-light {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    font-weight: bold;
    font-size: 1.25em;
}
#nav {
    color: white;
}
#navhide {
   opacity: 0;
}
.formWrapper {
    margin: 0 auto;
    background-color: chocolate;
    width: 640px;
}
.form1 {
    width: 300px;
    margin: 40px 0;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(46, 31, 31);
    color: #FFF;
    text-transform: capitalize;
    float: left;
}
.form2 {
    width: 300px;
    margin: 40px 20px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(46, 31, 31);
    color: #FFF;
    text-transform: capitalize;
    float: left;
}
#line {
    color: white;
}
.label {
    width: 100px;
}
.spacer {
    margin-left: 95px;
}
.input {
    width: 160px;
}