body {
    background-color: rgb(46, 31, 31);
}
.landing {
    background-image: url(/img/31316774424_985c0d7fbb_k.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}
.post_users {
    background-image: url(/img/somalia.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}
.post_articles {
    background-image: url(/img/andy-brunner-21072-unsplash.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}
.post_landing {
    background-image: url(/img/8571823324_dd9b6be9b6_k.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}
.post_login {
    background-image: url(/img/jordan-rowland-1139862-unsplash.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    margin: auto 0;
}   
h1 {
    margin: 150px 0 30px 0;
    padding: 0 25px;
    color: #FFF;
}
.userslistpage {
    line-height: 15px;
    color: white;
}
.postsTitle {
    line-height: 15px;
    color: white;
}
.postsText {
    line-height: 15px;
    color: white;
}
.my-nav.navbar.navbar-expand-lg.navbar-light {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    font-weight: bold;
    font-size: 1.25em;
}
#nav {
    color: white;
}
#navhide {
   opacity: 0;
}
.formWrapper {
    margin: 0 auto;
}
.form1 {
    width: 300px;
    margin: 40px 0;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(46, 31, 31);
    color: #FFF;
    text-transform: capitalize;
    float: left;
}
.form2 {
    width: 320px;
    margin: 40px 20px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(46, 31, 31);
    color: #FFF;
    text-transform: capitalize;
    float: left;
}
.formPost {
    margin: 40px 0;
    border: black 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(46, 31, 31);
    color: #FFF;
    text-transform: capitalize;
    float: left;
}
#line {
    color: white;
}
.label {
    width: 100px;
}
.spacer {
    margin-left: 95px;
}
input {
    width: 100%;
    margin: 2px 0px;
}
input.submit {
    text-align: center;
}
textarea {
    margin: 10px 0 5px 0;
    padding: 0;
}
.submitButton {
    margin: 10px 0px 0 100px;
}
.loginButton {
    margin: 0px 0px 0 0px;
}
.signUpButton {
    margin: 0px 0px 0 0px;
}
.postDiv {
    padding: 20px 0 0 0;
    margin: 0 0 20px 0;
    border-bottom: #FFF dotted 1px;
    clear: left;
}
.contentWrapper {
    margin: 30px auto;
    padding: 30px 100px;
    background-color: rgb(46, 31, 31);
    border-radius: 20px;
}
div.articleCopy {
    float: left;
    width: 500px;
}
.articleDiv {
    width: 302px;
    float: left;
    margin: 0 40px 0 40px;
}
.articleImg {
    width: 300px;
    border: white 1px solid;
}
a {
    color: white;
}
a:hover {
    color: white;
}
.addpost {
    width: 150px;
    background-color: rgb(46, 31, 31);
    margin: 0 auto 30px auto;
}